################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Isidore

/Isidore.Models/bin
/Isidore.Models/obj/Debug
/Isidore.Models/obj/Release
/Isidore.Models/obj/x64/Debug
/Isidore.Models/obj/x64/Release
/Isidore.Render/bin
/Isidore.Render/obj
/Isidore_Tests/bin
/Isidore_Tests/obj
/Isidore_Tests/OutputData
/packages
/Isidore_Tests/Isidore_Tests.csproj.user
/Isidore.ImgProcess/bin
/Isidore.ImgProcess/obj
/Isidore.Library/bin
/Isidore.Library/obj
/Isidore.Load/bin
/Isidore.Load/obj
/Isidore.Maths/bin
/Isidore.Maths/obj/Debug
/Isidore.Maths/obj/Release
/Isidore.Maths/obj/x64/Debug
/Isidore.Maths/obj/x64/Release
/Isidore.Matlab/bin
/Isidore.Matlab/obj/Debug
/Isidore.Matlab/obj/Release
/Isidore.Matlab/obj/x64/Debug
/Isidore.Matlab/obj/x64/Release
/Isidore.Render/Shapes/Billboard - Copy.cs
/Isidore.Render/Shapes/Mesh - Copy.cs
/Isidore.Render/RayTracer/Body - Copy.cs
